@import '../../scss/variables';
@import '../../scss/animations';

/* Project */
.project {
  &-thumbnail {
    height: 50vh;
  }

  &-content {
    min-height: 50vh;
  }
}

.swiper {
  height: 100%;

  &-button {
    &-next,
    &-prev {
      bottom: 0;
      top: auto;
      width: 75px;
      height: 75px;
      background: white;
      color: black;
    }
    &-next {
      right: 0;
      left: auto;

      &:after {
        content: '->';
      }
    }
    &-prev {
      right: 75px;
      left: auto;
      &:after {
        content: '<-';
      }
    }
  }
}
