@import '../../scss/variables';
@import '../../scss/animations';
@import '../../scss/typography';

/* Project */

.projects-page {
  .section {
    padding: 5rem 0;
  }

  .project {
    &-title-wrapper {
      display: flex;
      justify-content: center;
      padding: 0 2rem 2rem;
      margin: 1rem auto;
      color: $primary;
      @include txt-size('lg');
      text-transform: uppercase;
      letter-spacing: 10px;
    }

    &-about {
      @include txt-size('md');
      font-style: italic;
    }

    &-links {
      padding: 2rem 1rem;
      display: flex;
      justify-content: center;

      a {
        @include txt-size('def');
        margin: 0 1rem 0 0;
        padding: 1rem 2rem;
        border: 1px solid $white;
        letter-spacing: 2px;
        font-weight: bold;
      }
    }

    &-description,
    &-process {
      p {
        @include txt-size('md');
        font-family: $text-font;
        font-weight: 200;
      }
    }

    &-subheading {
      display: flex;
      justify-content: center;
      padding: 2rem 0;
      @include txt-size('lg');
      font-style: italic;
    }

    &-image {
      img {
        width: 100%;
        object-fit: contain;
      }
    }

    &-features {
      ul {
        font-family: $text-font;
        font-weight: 200;
        padding: 1rem 2rem 1rem 3rem;
        li {
          list-style: '-> ';
        }
      }
    }

    &-techspec {
      ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
      }
    }

    &-separator {
      height: 1px;
      background: $primary;
      width: 50%;
      margin: 3rem auto 2rem;
    }

    &-hire {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem 1rem;
      margin: 2rem auto;
      animation: float 15s infinite;

      p {
        @include txt-size('xl');
        color: $primary;
        font-style: italic;
      }

      button {
        background: none;
        color: $white;
        padding: 1rem 2rem;
        @include txt-size('lg');
        border: 2px solid $white;
      }
    }
  }
}

// .swiper {
//   height: 100%;

//   &-button {
//     &-next,
//     &-prev {
//       bottom: 0;
//       top: auto;
//       width: 75px;
//       height: 75px;
//       background: white;
//       color: black;
//     }
//     &-next {
//       right: 0;
//       left: auto;

//       &:after {
//         content: '->';
//       }
//     }
//     &-prev {
//       right: 75px;
//       left: auto;
//       &:after {
//         content: '<-';
//       }
//     }
//   }
// }

@media (min-width: 992px) {
  .projects-page {
    .grid-2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
