@import '../../scss/variables';
@import '../../scss/animations';
@import '../../scss/typography';

/* ScrollDown */
.scroll-down {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: $white;
  padding: $contrainer-padding;
  margin: auto;
  margin-bottom: 1rem;
  animation: float 10s infinite;

  & * {
    transition: $transition;
  }

  span {
    display: block;
    font-size: 2rem;
    transform: none;
  }

  // p {
  //   text-transform: lowercase;
  //   color: $white;
  //   margin: 0;
  //   @include txt-size('sm');
  // }
}

.home .scroll-down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  &:hover {
    span {
      transform: rotate(-90deg);
      // translate(60px, -55px);
    }

    & * {
      color: $white;
    }
  }
}
