@import '../../scss/variables';
@import '../../scss/animations';

/* ScrollDown */
.scroll-down {
  animation: float 10s infinite;

  & * {
    transition: $ease-transition;
  }

  span {
    font-size: 2rem;
    transform: none;
  }

  &:hover {
    p {
      font-size: 1.05rem;
      letter-spacing: 2px;
    }
    span {
      transform: rotate(-90deg) translate(60px, -65px);
    }
    & * {
      color: $white;
    }
  }
}
