@import '../../scss/variables';
@import '../../scss/animations';

/* ScrollDown */
.scroll-down {
  animation: float 10s infinite;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  color: $white;
  padding: 2rem;
  margin-bottom: 1rem;

  & * {
    transition: $ease-transition;
  }

  span {
    display: block;
    font-size: 2rem;
    transform: none;
  }

  p {
    text-transform: lowercase;
    color: $white;
    margin: 0;
  }

  & a:hover {
    p {
      letter-spacing: 2px;
    }

    span {
      transform: rotate(-90deg) translate(60px, -55px);
    }

    & * {
      color: $white;
    }
  }
}
