@import "../../scss/variables";
@import "../../scss/animations";
@import "../../scss/typography";
/* Title */
.masthead {
  color: $white;
  transition: transform 1s ease-in-out;
  animation: float 15s infinite;
  padding: 1rem;

  & h1 {
    font-size: 15vw;
    margin: auto;
    font-style: italic;
    font-weight: 100;
    text-transform: uppercase;
    // letter-spacing: 1rem;
    word-break: break-all;
    text-align: center;
    transition: letter-spacing 0.5s ease-in-out, opacity 1s ease-in-out;
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;

    span {
      opacity: 0;
      transition: $long-transition;
      word-break: break-word;

      &:first-letter {
        font-size: 15vw;
        position: absolute;
        left: -1rem;
        color: rgba(255, 255, 255, 0.25);
        font-style: italic;
      }
      &.show {
        opacity: 1;

        &.fade-out {
          opacity: 0;
          letter-spacing: 0;
        }
      }
    }
  }

  p {
    color: rbga($white, 0.5);
    font-style: italic;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .masthead p {
    width: 50%;
  }
}
