@import "../../scss/variables";
@import "../../scss/animations";
@import "../../scss/typography";
/* Contact form */

.contact {
  .subheading {
    justify-content: center;
  }

  div p {
    text-align: center;
  }

  .form-wrapper {
    display: flex;
    max-width: $max-paragraph-width;
    margin: auto;

    .input {
      display: grid;
      grid-template-columns: 1fr 3fr;

      label {
        justify-self: end;
        // align-self: center;
        margin: 0.5rem 1rem 0 0;
      }
    }

    .submit-wrapper {
      display: grid;
      gap: 1rem;

      button,
      small {
        justify-self: end;
      }
      small {
        width: 75%;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 0 2rem 2rem;
    }

    input,
    textarea {
      color: $light;
      background: rgba($light, 0.05);
      border: 1px solid black;
      box-shadow: 0 0 3px $secondary;
      @include txt-size("md");
      font-family: $text-font;
      padding: 0.75rem;
      cursor: none;

      &:focus {
        outline: 1px solid $primary;
      }
    }

    textarea {
      resize: none;
      min-height: 250px;
    }

    button {
      display: inline-block;
      width: fit-content;
      color: $white;
      background: none;
      padding: 0.75rem 1rem;
      border: 0.5rem solid black;
      font-weight: 400;
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;
      transition: $transition;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
    }
  }
}
