@import "../../scss/variables";
@import "../../scss/animations";
@import "../../scss/typography";
/* Contact form */
button {
  color: $white;
  background: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  transition: $transition;
  border: 1px solid $secondary;
  border-image: none;
  letter-spacing: 5px;
}

// .btn-cta {
//   padding: 1rem 2.5rem;
//   border-color: $primary;
//   text-transform: uppercase;
//   color: $white;
//   @include txt-size("md");
//   line-height: 1.5;

//   &:hover {
//     background: $primary;
//     padding: 1rem 3rem;
//   }
// }
