@import "../../scss/variables";
@import "../../scss/typography";
@import "../../scss/animations";

footer {
  position: relative;

  .socials-wrapper {
    margin: auto;
    padding: 2rem;

    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
    }
  }
  .copyright {
    color: $light;
    display: flex;
    justify-content: center;

    p {
      @include txt-size("sm");
    }
  }
}

.hire-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  align-items: center;
  padding: 2rem 1rem;
  margin: 2rem auto;
  animation: float 15s infinite;

  p {
    color: $primary;
    @include txt-size("xl");
    font-style: italic;
    a {
      text-decoration: none;
    }
  }

  a {
    color: $white;
    padding: 1rem 2rem;
    border: 1px solid $secondary;
    @include txt-size("md");
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    transition: $transition;

    &:hover {
      background: $primary;
      padding: 1rem 3rem;
    }
  }
}
