@import "../../scss/variables";
@import "../../scss/typography";
@import "../../scss/animations";

footer {
  position: relative;

  p {
    @include txt-size("sm");
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  .socials-wrapper {
    margin: auto;
    padding: 2rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $light;

    &-links {
      ul {
        @include txt-size("sm");
        flex-wrap: wrap;
        gap: 0.5rem;
      }

      span {
        font-style: italic;
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
  }
}

.hire-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  align-items: center;
  padding: 2rem 1rem;
  margin: 2rem auto;
  animation: float 15s infinite;

  p {
    color: $light;
    @include txt-size("xl");
    font-style: italic;
    a {
      text-decoration: none;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary;
    border: 0.5rem solid black;
    @include txt-size("md");
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    transition: $transition;
    box-shadow: 0 0 10px rgba($secondary, 0.5);

    span {
      padding: 1rem;
      border: 2px solid black;
      background: rgba(black, 0.35);
    }

    &:hover {
      color: $light;
      padding: 1rem;
    }
  }
}
