@import './scss/variables';
@import './scss/animations';
@import './scss/util';
@import './scss/config';
@import 'bootstrap/scss/bootstrap';
@import url(https://fonts.bunny.net/css?family=ephesis:400|rufina:400,700);

/* General */
body {
  font-family: $body-font;
}

a {
  color: $primary;
  text-decoration: none;
}

p a {
  text-decoration: underline wavy;
}
