@import './scss/config';
@import 'bootstrap/scss/bootstrap';
@import url(https://fonts.bunny.net/css?family=ephesis:400|rufina:400,700);

body {
  font-family: 'Rufina', serif;
}

.bg-image {
  height: 100%;
  width: 100%;
  background-size: cover;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;

  .project-image {
    height: 250px;
  }
}
