@import './scss/variables';
@import './scss/animations';
@import './scss/typography';

/* General */
*,
:after,
:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: $base-size;
}

body {
  font-family: $body-font;
  color: $white;
  background: $black;
}

a {
  color: $primary;
  text-decoration: none;
}

p a {
  text-decoration: underline wavy;
}

p,
ul {
  margin: 0 auto;
  padding: 1rem;
  max-width: 768px;
  color: $white;
  line-height: 1.45;
}

main {
  background: $black;
  overflow: hidden;
  z-index: 1;
}

section {
  min-height: 100dvh;
  min-height: 100vh;
  position: relative;

  &:not(.home) {
    background: $black;
  }
}

.row {
  display: flex;
}

.container {
  padding: $inner-padding;
}

.grid {
  display: grid;
}

.max-width {
  max-width: $max-width;
}

.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.show.fade-in {
  opacity: 1;
}

.hide.fade-out {
  opacity: 0;
}
