@import url(https://fonts.bunny.net/css?family=inter:300,400);

$body-font: 'ethereal', serif;
$text-font: 'Inter', Arial, 'Open Sans', sans-serif;
$base-size: 18px;
$inc: 0.390625vw;

$font-sizes: (
  'def': 1rem,
  'sm': 0.88rem,
  'md': 1.5rem,
  'lg': 2rem,
  'xl': 3.5rem,
  'xxl': 7rem,
  'maintitle': 10rem,
);

@mixin txt-size($size: 'md') {
  font-size: calc(map-get($font-sizes, $size) + $inc);
}
