$white: #ede0d4;
$black: rgb(25, 25, 25);
$primary: rgb(176, 137, 104);
$secondary: rgb(127, 85, 57);

$body-font: 'ethereal', serif;
$text-font: 'Inter', Arial, 'Open Sans', sans-serif;

$ease-transition: all 0.5s ease-in-out;
