$white: white;
$light: rgb(237, 224, 212);
$black: rgb(25, 25, 25);
$primary: rgb(176, 137, 104);
$secondary: rgb(57, 42, 29);

$success: #11e392;
$error: #ff1346;

$transition: all 0.5s ease-in-out;
$long-transition: all 1s ease-in-out;

$max-width: 1200px;
$max-paragraph-width: 768px;
$inner-padding: 1rem;
$contrainer-padding: 2rem;

// COLORE
// original primary
// $primary: rgb(170, 131, 110);

// blue color scheme
// $light: rgb(212, 217, 237);
// $black: rgb(18, 19, 30);
// $primary: rgb(104, 146, 176);
// $secondary: rgb(29, 38, 57);

// green color scheme
// $light: rgb(212, 237, 229);
// $black: rgb(15, 21, 18);
// $primary: rgb(43, 169, 110);
// $secondary: rgb(17, 56, 36);

// red color scheme
// $light: rgb(237, 226, 230);
// $black: rgb(23, 18, 19);
// $primary: rgb(226, 64, 113);
// $secondary: rgb(88, 5, 40);

// purple
// $light: rgb(213, 212, 237);
// $black: rgb(25, 25, 25);
// $primary: rgb(176, 165, 220);
// $secondary: rgb(25, 20, 45);

// orange
// $light: rgb(242, 234, 219);
// $black: rgb(22, 15, 6);
// $primary: rgb(255, 171, 80);
// $secondary: rgb(146, 83, 0);

// silver color scheme ::mleh
// $light: rgb(229, 229, 229);
// $black: rgb(20, 20, 20);
// $primary: rgb(167, 181, 188);
// $secondary: rgb(94, 100, 111);
