@import '../../scss/variables';
// @import '../../scss/typography';

// TODO: Better styling for mobile
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  color: $white;
  background: $black;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 1000;

  &.home {
    background: transparent;
    position: fixed;
  }

  // &.scrolled {
  // }

  &-item-wrapper {
    padding: auto 2rem;
  }

  &-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: $inner-padding;
    margin-right: auto;
    margin-left: auto;
  }

  &-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    // margin-left: auto;
    margin: 0 auto;
    padding-left: 0;
  }

  &-link {
    display: block;
    color: $white;
    margin: auto 1rem;
    padding: 0.5rem;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    transition: $transition;

    &:hover,
    &.active {
      color: $light;
      transform: skewX(-7.5deg);
    }
  }
}

@media (max-width: 768px) {
  .nav {
    flex-wrap: wrap;
    &-menu {
      flex-direction: row;
    }
  }
}
