@import "../../scss/variables";
@import "../../scss/animations";
/* Social icons */

.socials-wrapper {
  ul {
    li {
      transition: $transition;
      animation: float infinite;

      &:hover {
        color: $white;
        transform: scale(1.5);
      }
    }

    @for $i from 1 through 5 {
      li:nth-child(#{$i}) {
        $duration: random() * 15 + 10;
        animation-duration: $duration * 1s;
      }
    }
  }
}
